<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Welcome</title>
    <style>
      .container {
        width: 75%;
        padding: 1rem 0;
        font-family: Arial, Helvetica, sans-serif;
      }

      h1 {
        margin-bottom: 1rem;
        font-size: 2rem;
      }

      p {
        line-height: 1.4;
        font-size: 1.1rem;
      }

      span {
        color: #809bff;
      }

      h1 > a {
        text-decoration: none;
      }

      @media only screen and (max-width: 900px) {
        .container {
          width: 100%;
          padding-left: 0.5rem 0 0 1rem;
        }

        h1 {
          font-size: 1.1rem;
        }
      }
    </style>
  </head>
  <body>
    <div class="container">
      <h1>
        <a href="https://challengeboard.xyz/challenge"
          ><span>Challenge Board</span></a
        >
        Project Submission
      </h1>

      <div class="container">
        <p><strong>Username: </strong> <%= user.username %></p>
        <p><strong>Email: </strong> <%= user.userEmail %></p>
        <p>
          <strong>Github link: </strong
          ><a href="<%= user.project.githubLink %>"
            ><%= user.project.githubLink %></a
          >
        </p>
        <% if (user.project.additionalLink) { %>
        <p>
          <strong> Additional link: </strong>
          <a href="<%=user.project.additionalLink %>"
            ><%=user.project.additionalLink %></a
          >
        </p>
        <% } %> <% if (user.project.comment) { %>
        <p><strong>Comments: </strong><%= user.project.comment %></p>
        <% } else { %>
        <p>NA</p>
        <% } %>
      </div>
    </div>
  </body>
</html>
